/* About page */
.about-me-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: center;
    margin-left: 240px;
    animation: bounce;
    animation-duration: 2s;
    width: auto;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;
    width: 740px;
    height: 200px;
    align-items: center;
    margin-left: 440px;
    margin-bottom: 10px;
    justify-content: space-between;
    padding-top: 12px;
} 

.about-container p {
  font-size: 1.5rem;
  text-align: center;
} 

.tech-skills-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1300px;
  margin-left: 164px;
  margin-top: 20px;
}

/* Media Queries */
/* About large screens */
@media (max-width: 1680px) {
  .about-me-heading {
    margin-right: 300px;
  }
  .about-container {
    margin-left: 200px;
  }
}

/* About medium screens */
@media (max-width: 1680px) {
  .about-me-heading {
    margin-right: 200px;
  }
  .about-container {
    width: 60vw;
  }
}

@media (max-width: 1600px) {
  .about-me-heading {
    margin-right: 100px;
  }
  .about-container {
    margin-left: 300px;
  }
  .tech-skills-image {
    margin-left: 100px;
    width: 75vw;
  }
}

/* 13 inch Macbook Pro */
@media (max-width: 1440px) {
  .about-me-heading {
    margin-right: 200px;
  }
  .about-container {
    margin-left: 200px;
  }
  .tech-skills-image {
    margin-left: 100px;
    width: 75vw;
  }
}


@media (max-width: 1200px) {
    .about-me-heading {
      margin-right: 400px;
    }
    .about-container {
      margin-left: 100px;
    }
  }
  
  @media (max-width: 1024px) {
    .about-me-heading {
      margin-bottom: 100px;
      width: 40vw;
      height: 4vh;
    }
    .about-container {
      width: 60vw;
      height: 10vh;
      margin-bottom: 50px;
    }
    .tech-skills-image {
      display: none;
    }
  }

  /* iPad Pro 10 */
@media (max-width: 834px) {
    .about-me-heading {
      margin-left: 180px;
      width: 40vw;
      height: 4vh;
    }
    .about-container {
      width: 60vw;
      height: 10vh;
      margin-bottom: 50px;
      margin-left: 50px;
    }
  }


  
    /* About Mobile Devices */
    @media (max-width: 480px) {
      .about-me-heading {
        margin-left: 110px;
        margin-top: 140px;
        margin-bottom: 16px;
        width: 60vw;
        height: 20vh;
      }
      .about-container {
        width: 80vw;
        height: 10vh;
        margin-bottom: 50px;
        margin-left: 4px;
      }
    }