  /* Contact page */
  .contact-container {
    max-width: 1020px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    font-size: 1.7em;
  }
  
  .form-group {
    margin-bottom: 34px;
  }
  
  label {
    display: block;
    margin-bottom: 13.6px;
    font-size: 1.2em;
  }
  
  input,
  textarea {
    width: 510px;
    padding: 17px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.3em;
    color:#fefefe;
  }
  
  textarea {
    height: 204px;
  }
  
  button {
    background-color: rgb(54, 54, 228);
    color: #fff;
    padding: 10px;
    width: 160px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #3a88db;
  }