  /* Contact page */
  h2 {
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 10px;
  }
  
  .contact-container {
    max-width: 1020px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 34px;
  }
  
  label {
    display: block;
    margin-bottom: 13.6px;
    font-size: 1.2em;
  }
  
  input,
  textarea {
    width: 510px;
    padding: 17px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.3em;
    color:#fefefe;
  }
  
  textarea {
    height: 204px;
  }
  
  button {
    background-color: rgb(54, 54, 228);
    color: #fff;
    padding: 10px;
    width: 160px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #3a88db;
  }

  /* Small mobile devices */
  @media (max-width: 812px) {
  .contact-container {
    max-width: 1020px;
    margin: auto;
    margin-top: 80px;
  }
}

/* Small iphone devices*/
@media (max-width: 635px) {
  .contact-container {
  }
}

/* iphone 14 Pro Max */
@media (max-width: 430px) {
  h2 {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    font-size: 1.8em;
    padding-bottom: 24px;
    width: 224px;
  }
  .contact-container {
    max-width:200px;
    margin-top: 124px;
    margin-left: 56px;
  }
  .form-group {
    margin-bottom: 34px;
  }
  
  label {
    display: block;
    margin-bottom: 13.6px;
    font-size: 1.2em;
  }
  
  input,
  textarea {
    width: 316px;
    padding: 14px;
    margin-bottom: 14px;
  }
  
  textarea {
    height: 204px;
  }
  
  button {
    background-color: rgb(54, 54, 228);
    color: #fff;
    padding: 8px;
    width: 124px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    margin-left: 92px;
  }
  
  button:hover {
    background-color: #3a88db;
  }
}