  /* Contact page */
  .contact-container {
    max-width: 1200px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    font-size: 2em;
  }
  
  .form-group {
    margin-bottom: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 16px;
    font-size: 1.5em;
  }
  
  input,
  textarea {
    width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.3em;
    color:#fefefe;
  }
  
  textarea {
    height: 240px;
  }
  
  button {
    background-color: rgb(54, 54, 228);
    color: #fff;
    padding: 12px;
    width: 188px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #3a88db;
  }