/* About page */
.about-me-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    margin-right: 72px;
    animation: bounce;
    animation-duration: 2s;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 100%;
    padding: 50px;
    width: 740px;
    height: 200px;
    align-items: center;
    margin-left: 440px;
    margin-bottom: 100px;
    justify-content: space-between;
} 

/* Projects page */
.projects-list {
    display: flex;
  }

  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 100%;
    padding: 50px;
    width: 740px;
    height: 200px;
    align-items: center;
    margin-left: 180px;
    margin-bottom: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .project-card {
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover {
    transform: scale(1.1);
  }
  
  .project-title {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  .project-card:hover .project-title {
    display: block;
  }
  