/* About page */
.about-me-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    margin-right: 72px;
    animation: bounce;
    animation-duration: 2s;
    width: auto;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;
    width: 740px;
    height: 200px;
    align-items: center;
    margin-left: 440px;
    margin-bottom: 100px;
    justify-content: space-between;
} 

.about-container p {
  font-size: 1.5rem;
} 

/* Projects page */
.my-project-heading {
  font-size: 4rem;
  text-align: center;
  margin-left: 224px;
  line-height: 8px;
}

.projects-container {
    display: flex;
    margin-left: 240px;
    margin-top: 64px;
    margin-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-shrink: 1;
    padding: 80px;
    width: 1600px;
  }

  .project-card {
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 28px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 64px;
    text-align: center;
    font-size: x-large;
    background-size: cover;
  }
  
  
  .project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
  }
  
  .project-card:hover {
    transform: scale(1.1);
  }
  
  .project-card:hover .project-title {
    opacity: 2;
    color: #fefefe;
    text-shadow: 0 0 10px  rgb(54, 54, 228);
  }

  /* Contact page */
.contact-container {
  max-width: 1200px;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.form-group {
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 16px;
  font-size: 1.5em;
}

input,
textarea {
  width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1.3em;
  color:#fefefe;
}

textarea {
  height: 240px;
}

button {
  background-color: rgb(54, 54, 228);
  color: #fff;
  padding: 12px;
  width: 188px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #3a88db;
}