/* Projects page */
.my-project-heading {
  font-size: 3.5rem;
  text-align: center;
  margin-left: 272px;
  line-height: 8px;
}

.projects-container {
  display: flex;
  margin-left: 320px;
  margin-top: 4px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 24px;
  padding-left: 2px;
  width: 1040px;
}

.project-card {
  width: 428px;
  height: 320px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin: 28px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  border-radius: 64px;
  text-align: center;
  font-size: x-large;
  background-size: cover;
} 

.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

.project-card:first-child,
.project-card:nth-child(3) {
  margin-right: 4px; /* Adjust this value as needed */
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-title {
  opacity: 2;
  color: #fefefe;
  text-shadow: 0 0 10px rgb(54, 54, 228);
}

/* Media queries start here */
/* Projects large screens */
@media (max-width: 1680px) {
  .my-project-heading {
    margin-left: 44px;
  }
  .projects-container {
    margin-left: 44px;
  }
}

/* 13" MacBook Pro */
@media (max-width: 1440px) {
  .my-project-heading {
    margin-left: 44px;
  }
  .projects-container {
    margin-left: 52px;
    width: 80vw;
  }
  .project-card {
    width: 304px;
    height: 256px;
  }
}

/* Small - Medium screens */
@media (max-width: 934px) {
  .my-project-heading {
    margin-left: 44px;
  }
  .projects-container {
    margin-left: 6px;
    width: 90vw;
  }
  .project-card {
    width: 236px;
    height: 196px;
  }
}

/* Mobile Devices */
@media (max-width: 812px) {
  .my-project-heading {
    margin-top: 100px;
    padding-top: 104px;
  }
  .projects-container {
    margin-left: 44px;
    margin-top: 44px;
    width: 90vw;
  }
}

/* Small mobile devices */
@media (max-width: 812px) {
  .my-project-heading {
    margin-top: 100px;
    padding-top: 104px;
    margin-left: 10px;
  }
  .projects-container {
    margin-left: 20px;
    margin-top: 44px;
    width: 95vw;
  }
  .project-card {
    width: 232px;
    height: 192px;
  }
  .project-title {
    font-size: 2.1rem;
  }
}

/* Small iphone devices */
@media (max-width: 635px) {
  .my-project-heading {
    margin-top: 100px;
    padding-top: 104px;
    margin-left: 10px;
  }
  .projects-container {
    margin-left: 20px;
    margin-top: 44px;
    width: 100vw;
  }
  .project-card {
    width: 152px;
    height: 132px;
  }
  .project-title {
    font-size: 2.1rem;
  }
}

/* iphone 14 Pro Max */
@media (max-width: 430px) {
  .my-project-heading {
    margin-top: 64px;
    padding-top: 104px;
    margin-bottom: 28px;
    margin-left: 2px;
    font-size: 2.3rem;
    color: rgb(131, 131, 250);
  }
  .projects-container {
    margin-left: 2px;
    margin-top: 44px;
    width: 100vw;
    padding-top: 4px;
    margin-top: 8px;
    gap: 16px;
  }
  .project-card {
    width: 304px;
    height: 84px;
    margin: 10px;
    padding: 10px;
    border-radius: 0px;
  }
  .project-title {
    font-size: 1.7rem;
    opacity: 1;
    text-shadow: 0 0 10px rgb(34, 34, 227);
  }
}

/* iphone 12 Pro Max */
@media (max-width: 390px) {
  .my-project-heading {
    margin-top: 100px;
    padding-top: 104px;
    margin-left: 2px;
    font-size: 2.1rem;
    padding-bottom: 16px;
  }
  .projects-container {
    margin-left: 4px;
    margin-top: 44px;
    width: 100vw;
    padding-top: 0px;
    margin-top: 2px;
  }
  .project-card {
    width: 300px;
    height: 80px;
    margin: 8px;
  }
  .project-title {
    font-size: 1.7rem;
  }
}
